<ion-view view-title="{{header}}">
	
	

	<form name="myForm" novalidate>	

	<ion-content>
		<div class="padding ">
	
			<label class="item item-positive item-input item-select animated bounceInLeft">
			    <div class="input-label">
			    <small>Dose Type <span ng-if="myForm.dosetype.$error.required"> <small  >(Required)</small></span>:</small>
			    </div>
			    <select  name="dosetype" ng-model="dose.dosetype" required >
			      <option>Shooters</option>
			      <option selected>High Balls</option>
			      <option>Rock Glass</option>
			    </select>
  			</label>
			<hr>

			 <div align="center" >
      		<img ng-src="{{pictureUrl}}" style="max-width: 100%;">
      		</div>
		      	<div align="center">
		      		<button ng-click="takePicture()" class="button button button-assertive">Take a Photo</button>
		      		<button ng-click="browsePicture()" class="button button  button-calm">Browse Photo</button>
		      	</div><br>

			<div class="animated bounceInRight">
				<p class"animated bounceInRight"><small>Name:</small> <span ng-if="myForm.dosetitle.$error.required"> <small = class="required" >This Field is Required</small></span></p>
			</div>
			
			<div class="item item-input bar-default animated bounceInLeft">
				<input name="dosetitle" type="text" placeholder=""
					ng-model="dose.title" required>
			</div>
			<hr>

			<div class="animated bounceInLeft">
				<p class"animated bounceInLeft"><small>Description:</small> <span ng-if="myForm.description.$error.required"> <small = class="required" >This Field is Required</small></span> </p>
			</div>
			<div class="item item-input animated bounceInRight">
				<textarea name = "description" rows="3" placeholder=""
					ng-model="dose.description" required></textarea>
			</div>
			<hr>	

			<div class="animated bounceInRight">
				<p><small>Ingredients:</small></p>
			</div>
			<div class="item item-input animated bounceInLeft">
				<textarea rows="8" placeholder=""
					ng-model="dose.ingredients"></textarea>
			</div>
			<hr>
			<div class="animated bounceInLeft">
				<p><small>Procedures:</small></p>
			</div>
			<div class="item item-input animated bounceInRight">
				<textarea rows="8" placeholder=""
					ng-model="dose.procedures"></textarea>
			</div>
			<hr>

			 

			

		</div>
	</ion-content>

	
	 <ion-footer-bar class="bar-light">


					<button class="button  icon-left ion-star button-calm"
						ng-hide = "isFavorite()" ng-click="toggleFavorite()">Add to Favorite</button>
					<button class="button pull-right icon-left ion-android-checkbox-outline button-positive" ng-disabled="myForm.$invalid"
						ng-click="save()">Save</button>
			
		  </ion-footer-bar>



	
 </form>




  
</ion-view>