<ion-view view-title="HighDose" ng-controller="ListCtrl">
 
  <div class="padding logo" align="center">
  <img class="logo animated bounceInUp" ng-src="img/highdose.png">
  </div>


   <ion-footer-bar class="bar-light">
     <button class="button button-assertive icon-left ion-ios-compose" 
     ui-sref="add">New Dose</button><p> &nbsp;</p>


	 <button class="button button-positive icon-left ion-ios-list"
     ui-sref="list">My Doses</button>

     <button class="button button-calm icon-left ion-ios-star"
     ui-sref="myfavorites">My Favorites</button>

   
  </ion-footer-bar>
 
</ion-view>