<ion-view view-title="My Doses" ng-controller="ListCtrl">
<div class="bar bar-header">
  <button class="button icon ion-navicon"></button>
  <h1 class="title">Header Buttons</h1>
  <button class="button">Edit</button>
</div>
  <ion-content> 

  <label class="item item-positive item-input item-select">
    <div class="input-label">
    <small>FILTER BY TYPE</small>
    </div>
    <select ng-model="selectType">
      <option >Shooters</option>
      <option >High Balls</option>
      <option >Rock Glass</option>
    </select>
  </label>

  <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper ">
    <i class="icon ion-search placeholder-icon"></i>
    <input  type="search" placeholder="Search" ng-model="searchDose">
  </label>
</div>


    <ion-list show-reorder="reordering" >
    
      <ion-item class="dose-item item-remove-animate item-icon-right item-thumbnail-left  "  
        href="#/edit/{{dose.id}}" 
        ng-repeat="dose in filteredDose = (doses.slice().reverse()  | filter: searchDose | filter: selectType)"  >
         <img src="{{dose.img}}">
        <h2 class="dose-title">{{dose.title}}</h2> 
        <p>{{dose.description}}</p>
         <h5 class = "favorited" ng-if="dose.isFavorite">FAVORITED</h5>  

        <i class="icon ion-ios-arrow-right"></i>
        <ion-reorder-button class="ion-drag"
          on-reorder="move(dose, $fromIndex, $toIndex)"></ion-reorder-button>
        <ion-option-button class="button-assertive icon-left ion-trash-b"
          ng-click="remove(dose.id)">Delete</ion-option-button>
        
      </ion-item>
    </ion-list>


    <div  class="emptyDose ion-alert-circled" ng-hide="filteredDose.length"> 
    No items found</div>

  </ion-content>


  <ion-footer-bar class="bar-light">
    <button class="button button-assertive icon-left ion-ios-home" 
     ui-sref="home">Home</button><p> &nbsp;</p>

     <button class="button button-assertive icon-left ion-ios-compose" 
     ui-sref="add">New Dose</button>

     <button side="right" class="button button-positive icon-left ion-ios-star"
     ui-sref="myfavorites">My Favorites</button>

  <!--   <button class="button button-calm icon-left ion-shuffle"
      ng-click="toggleReordering()">Reorder</button> -->
  </ion-footer-bar>
  
</ion-view>