<ion-view view-title="My Favorites" ng-controller="ListCtrl">
  <ion-content>

    <label  class="item item-assertive item-input item-select">
    <div class="input-label">
    <small>FILTER BY TYPE</small>
    </div>
    <select ng-model="selectType">
      <option>Shooters</option>
      <option selected>High Balls</option>
      <option>Rock Glass</option>
    </select>
  </label>

    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchDose.$">
      </label>
    </div>

    <ion-list show-reorder="reordering">

      <ion-item class="dose-item item-remove-animate item-icon-right item-thumbnail-left"
        href="#/show/{{dose.id}}"
        ng-repeat="dose in filteredDose = ( doses.slice().reverse() | filter : searchDose  | filter: {isFavorite: true}  | filter : selectType )">
        
        <img src="{{dose.img}}">
        <h2>{{dose.title}}</h2>
        <p>{{dose.description}}</p>
        <i class="icon ion-ios-arrow-right"></i>
        <ion-reorder-button class="ion-drag"
          on-reorder="move(dose, $fromIndex, $toIndex)"></ion-reorder-button>
        <ion-option-button class="button-calm icon-left ion-trash-b"
          ng-click="setFalseFavorite(dose.id)">Unfavorite</ion-option-button>
        

      </ion-item>
      
    </ion-list>

    <div  class="emptyDose ion-alert-circled " ng-hide="filteredDose.length"> 
    No items found</div>
  </ion-content>
  <ion-footer-bar class="bar-light">
  <button class="button button-assertive icon-left ion-ios-home" 
     ui-sref="home">Home</button><p> &nbsp;</p>
    <a href="#/add" side="right"
      class="button button-assertive icon-left ion-ios-compose">New Dose</a>
       <a href="#/list" side="right"
      class="button button-positive icon-left ion-ios-list">My Doses</a>
   
  </ion-footer-bar>
</ion-view>