on<ion-view view-title="{{dose.title}}">
  <ion-content>
    <div class="padding">

     <div align="center" >
          <img ng-src="{{pictureUrl}}" style="max-width: 100%;">
          </div>

      <p><small>Type:</small></p>
      
      <div class="item item-input bar-default">
        <input type="text" placeholder="" readonly="" 
          ng-model="dose.dosetype">
      </div>
      <hr>
      <p><small>Name:</small></p>
      
      <div class="item item-input bar-default">
        <input type="text" placeholder="" readonly="" 
          ng-model="dose.title">
      </div>
      <hr>

      <p><small>Description:</small></p>
      <div class="item item-input">
        <textarea rows="3" placeholder="" readonly="" 
          ng-model="dose.description"></textarea>
      </div>
      <hr>
      <p><small>Ingredients:</small></p>
      <div class="item item-input">
        <textarea rows="8" placeholder="" readonly="" 
          ng-model="dose.ingredients"></textarea>
      </div>
      <hr>
      <p><small>Procedures:</small></p>
      <div class="item item-input">
        <textarea rows="8" placeholder="" readonly="" 
          ng-model="dose.procedures"></textarea>
      </div>
      <hr>
    </div>


  </ion-content>
</ion-view>