.logo{
	padding-top: 15%;
}

.favorited{
	color: orange;
	
}


.required{
	color:  #609194;
	
}

h2.dose-title {
	white-space: normal;
}

.emptyDose {
  text-align: center;
  padding-top: 50%;
  color: gray;
}

/*animation*/
.dose-item.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

.dose-item.ng-enter-stagger {
  -webkit-animation-delay:200ms;
  animation-delay:200ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}